#page-calendar{
     
    .full-calendar{
        display: flex;
        width: 90%;
        height: 95%;
        margin: 30px 60px;  
        flex-direction: column;
        background: #eff6fe;
        border-radius: 15px;
        box-shadow: 0 2px 12px rgb(0 0 0 / 40%);
        .calendar-header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 60px;
            
            .calendar-navigate{
                display: flex;
                gap:5px;
                align-items: center;
                margin-left: 75px;
    
                button{
                    border: 0;
                    width: 25px;
                    height: 25px;
                    background: transparent;
                    border-radius: 6px;
    
                    &:hover{
                        background:#DC2626;
                    }
                }
    
    
            }
        
            .calendar-select {
                display: flex;
                gap:5px;
                align-items: center;
                margin-right: 75px;
                button {
                    width:100px;
                    height: 25px;
                    border: none;
                    background: transparent;
                    font-size: 14px;
                    font-weight: bold;
                    border-radius: 6px;
        
                    &:hover{
                        background: #DC2626;
                        color: #fff;
                    }
                }
            }
        }  
        
        .month-calendar{
            display: flex;
            justify-content: center;
            .grid{
                display: flex;
                flex-direction: column;
                width: 90%;
                gap:6px;
                                
                .collumheader{
                    display: flex;
                    width: 100%;
                    align-items: center;
                    div{
                        flex: 1;
                        width: 100px;
                        text-align: center;
                    }
                }
                .row{
                    display: flex;
                    gap: 3px;
                    .days{
                        flex: 1;
                        display: flex;
                        justify-content: center;
                        width: 100px;
                        height: 80px;
                    
                        &:hover{
                            background: #ddf3ea;
                            border-radius: 12px;
                            
                        }
                    }
                }
                .previus-month{
                    background: #e4e4e4;
                    border-radius: 12px;

                }
                .next-month{
                    background: #e4e4e4;
                    border-radius: 12px;

                }
                .select-day{
                    background: #ddf3ea;
                    border-radius: 12px;

                }
            }
        }
    }
    

    
}